@import "variables";
body{
    background-image: url(../images/back1.avif);
    background-size: contain;
    background-attachment: fixed;
    // Header
    header{
        background-color: white;
        .navbar-collapse{
            flex-grow: 0;
            .navbar-nav{
                margin-top: 40px;
            }
            .nav-links{
                color: black;
            }
            .nav-links:hover{
                background-color: $suave;
            }
            .tbackground{
                background-color: $suave;
            }
        }
    }
    // Main/footer
    .ancho{
        background-color: white;
        // Menu Card/Index
        .card-img-overlay {
            position: absolute;
            top: inherit;
            right: 0;
            bottom: 0;
            left: 0;
            padding: var(--bs-card-img-overlay-padding);
            border-radius: var(--bs-card-inner-border-radius);
        }
        // Subtittle/Index
        .pg{
            text-align: center;
            background-color: $fuerte;
            @include padding(20px, 20px)
        }
        // Accordion/Index
        .shadow{
            --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #d99058;
            .accback{
                --bs-accordion-active-color: none;
                --bs-accordion-active-bg: #d99058;
                background-color: $fuerte;
            }
        }
        .textback{
            background-color: $suave;
        }
        // Cards 1y2/Pages
        .cardh:hover{
            text-decoration: underline;
        }
        // Material Ampliado/Pages
        .achedos{
            @include padding(2rem, 2rem)
        }
        .achetres{
            font-size:x-large;
            @include padding(1rem, 1rem)
        }
        .achecuatro{
            font-size:larger;
        }
        // Formulario/Contacto
        .cont{
            background-image: url(../images/contac.avif);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        // Copyright/Footer
        .copy{
            color: $fuerte;
        }
        // Logo/Footer
        .logof{
            width: 40px;
            flex-wrap: wrap;
        }
        // Redes/footer
        .redes{
            width: 30%;
        }
        // Links/Footer
        .lkn{
            color: $fuerte;
        }
        .lkn:hover{
            color: $suave;
            text-decoration: underline;
            opacity: 70%;
        }
    }
}